@font-face{
    font-family: DMS-B;
    src: url(../fonts/DMSans-Bold.ttf);
}
@font-face{
    font-family: DMS-M;
    src: url(../fonts/DMSans-Medium.ttf);
}
@font-face{
    font-family: DMS-R;
    src: url(../fonts/DMSans-Regular.ttf);
}
@font-face{
    font-family: Ro-R;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: Ru-M;
    src: url(../fonts/Rubik-Medium.ttf);
}
@font-face{
    font-family: Ru-R;
    src: url(../fonts/Rubik-Regular.ttf);
}